<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Admin panel{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{ style('/bundles/web/vendor/bootstrap/dist/css/bootstrap.min.css') }}
    {{ style('/bundles/web/vendor/font-awesome/css/font-awesome.min.css') }}
    {{ style('/bundles/web/vendor/Ionicons/css/ionicons.min.css') }}
    {{ style('/bundles/web/vendor/admin-lte/dist/css/AdminLTE.min.css') }}
    {{ style('/bundles/web/vendor/admin-lte/dist/css/skins/skin-blue.min.css') }}
    {{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic') }} <!-- Google Font -->
    {{ script('/bundles/web/vendor/jquery/dist/jquery.min.js') }}
    {{ script('/bundles/web/vendor/bootstrap/dist/js/bootstrap.min.js') }}
    {{ script('/bundles/web/vendor/admin-lte/dist/js/adminlte.min.js') }}
    {% include '@Web/style.html.twig' %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include '@Notify/notify.html.twig' %}
    <!-- Main Header -->
    <header class="main-header">
        {% include '@AdminPanel/block/header_logo.html.twig' %}
        <nav class="navbar navbar-static-top" role="navigation">
            {% include '@AdminPanel/block/navbar.html.twig' %}
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            {% include '@AdminPanel/block/sidebar/user.html.twig' %}
            {% include '@AdminPanel/block/sidebar/search_form.html.twig' %}
            {% include '@AdminPanel/block/sidebar/menu.html.twig' %}
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>{{ block('title') }} <small>Optional description</small></h1>
            {% include '@AdminPanel/block/breadcrumb.html.twig' %}
        </section>
        <section class="content container-fluid">
            {% block body %}<i class="text-muted">Empty content</i>{% endblock %}
        </section>
    </div>
    <footer class="main-footer">
        {% include '@AdminPanel/block/footer.html.twig' %}
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
        {% include '@AdminPanel/block/control_sidebar.html.twig' %}
    </aside>
    <div class="control-sidebar-bg"></div>
</div>
{% include '@Web/script.html.twig' %}
</body>
</html>